h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 32px;
	font-weight: bold;
	color: white;
}


h2 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: saddlebrown;
	background-color: beige;
	width:100%;
	text-align: center;
	padding: 20px;
	font-size: 100px;
	display: block;
}

h3 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	color: goldenrod;
	background-color: royalblue;
	text-align: center;
	padding: 30px;
	font-size: 50px;;
}
p {
	font-family: 'Courier New', Courier, monospace;
}

.brushes h1 {
	background-color: mediumspringgreen;
}

.frames h1 {
	background-color: lightcoral;
}

.paint h1 {
	background-color: skyblue;
}

.info{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: blue;
}

#banner,
#banner h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url(/public/pattern.jpeg);
}